<h1><%= Pirate.all.first.name%>, <%= Pirate.all.first.height%>, <%= Pirate.all.first.weight%> </h1>


<h2><%= Ship.all.first.name%>, <%= Ship.all.first.type%>, <%= Ship.all.first.booty%> </h2>


<h2><%= Ship.all.last.name%>, <%= Ship.all.last.type%>, <%= Ship.all.last.booty%> </h2>
